<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>Dashboards</title>
</head>

<style>
  .section-bg {
    background-color: #111C44;
  }

  .main-bg {
    background-color: #0B1437;
  }

  .linha {
    height: 1px;
    width: 100%;
    background-color: #ffffff;
  }

</style>

<body class="vh-100">
  <main class="d-flex flex-row h-100 w-100 main-bg">
    <Section class="d-flex flex-column section-bg h-100 align-items-center">
      <div class="d-flex flex-row gap-2 text-white p-4">
        <h3 class="fw-bolder">NONAME</h3>
        <h3 class="fw-normal">PARK</h3>
      </div>
      <div class="linha"></div>
      <div>
        <div>
          <img src="">
          <a href="">Dashboard</a>
        </div>
        <div>
          <img>
          <a href="">View Park</a>
        </div>
        <div>
          <img>
          <a href="">Collaborators</a>
        </div>
      </div>
      <button type="button" class="btn btn-primary">butão</button>
    </Section>
    <Section>

    </Section>
  </main>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</html>